// ---------------------------------------------------------
// Pages
// ---------------------------------------------------------

@use "../global" as *;

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  padding-top: rem(128);
  padding-bottom: rem(64);
  // margin-top: rem(64);
  background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(5, 8, 26,0.95)), url("../img/background-hero.webp");
  background-size: cover;

  @include breakpoint("tablet") {
    background-size: cover;
    padding-top: rem(136);
    // margin-top: 6.5rem;
  }

  &__name {
    font-size: rem(24) !important;
    font-weight: 600;
    line-height: rem(39);

    @include breakpoint("tablet") {
      font-size: rem(32) !important;
    }
  }

  // Mettre le span derrière le h1
  .title__div {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);

    @include breakpoint("tablet") {
      gap: rem(16);
    }

    .title__div__h1 {
      font-size: rem(50);
      max-width: 62.75rem;
      font-weight: 700;
      font-family: "Heebo";
      text-align: center;
      // background: linear-gradient(120deg, color(accent, base) 0%, color(primary, base) 33.33%, color(secondary, base) 66.66%, color(accent, base) 100%);
      background: linear-gradient(
        98.02deg,
        #81f586 0%,
        #79e4e4 25.4%,
        #9085fd 50.64%,
        #79e4e4 74.2%,
        #81f586 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 1600% 800%;
      animation: gradient 45s ease infinite;
      line-height: 110%;



      @include breakpoint("tablet") {
        font-size: rem(96);

        span{
          font-size: rem(32);
          line-height: normal;
        }
      }
    }
  }
}

.slogan {
  font-size: rem(20);
  font-weight: 700;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(24);
  padding: rem(32) rem(32);
  text-align: center;
  color: color(btow, 100);

  @include breakpoint("tablet") {
    padding: rem(64) rem(32);
  }

  &__grp {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    align-items: center;

    @include breakpoint("tablet") {
      flex-direction: row;
      gap: rem(32);
    }
  }

  .limited_size {
    max-width: rem(632);
    line-height: rem(24);
  }

  .container {
    max-width: rem(1200);
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: rem(24);
  }


  @include breakpoint("tablet") {
    .container{
    flex-direction: row;
    justify-content: space-between;
    }
  }
}

#aboutme {
  // border-top: color(primary, dark) rem(6) solid;
  // background: color(background, dark);
}

#accessibility {
  .container{
    flex-direction: column-reverse;
    align-items: center;
    gap: rem(24);
  }


  @include breakpoint("tablet") {
    .container{
    flex-direction: row;
    justify-content: space-between;
    }
  }

  .section__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    max-width: rem(660);

    @include breakpoint("tablet") {
      align-items: flex-start;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: rem(12);
    }
    li {
      text-align: center;
      @include breakpoint("tablet") {
        text-align: left;
      }
    }
    
  }

  img {
    max-width: rem(300);

    @include breakpoint("tablet") {
      max-width: rem(400);
      max-height: 100%;
    }
  }
}

#webdesign {
  align-items: center;
  gap: rem(32);

  .container{
    flex-direction: column;
    align-items: center;
    gap: rem(24);

    @include breakpoint("tablet") {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  

  @include breakpoint("tablet") {
    flex-direction: row;
    justify-content: space-between;

    gap: 0;
  }

  .section__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    max-width: rem(660);
    line-height: rem(24);

    @include breakpoint("tablet") {
      align-items: flex-start;
    }

    &_groupe {
      // max-height: rem(185);
      // overflow: scroll;
      display: flex;
      flex-direction: column;
      // align-items: flex-start;
      text-align: center;
      gap: rem(12);

      @include breakpoint("tablet") {
        text-align: left;
      }

      &::-webkit-scrollbar {
        width: rem(7);
      }
      &::-webkit-scrollbar-thumb {
        background-color: none;
        border-radius: rem(20);
        border: 2px solid color(primary, base);
      }
    }
  }

  img {
    max-width: rem(300);

    @include breakpoint("tablet") {
      max-width: rem(400);
    }
  }
}

#project {
  flex-direction: column-reverse;
  gap: rem(32);

  @include breakpoint("tablet") {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .section__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);
    text-align: center;
    max-width: rem(660);

    @include breakpoint("tablet") {
      align-items: flex-start;
      text-align: left;
    }
  }

  img {
    max-width: rem(300);

    @include breakpoint("tablet") {
      max-width: rem(400);
    }
  }
}

#ecoresponsable {
  background-image:linear-gradient(to bottom,rgba(5, 8, 26,0.95), rgba(0,0,0,0), color(background, base)),  url("../img/background-eco.webp");;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // border-top: color(accent, base) rem(6) solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include breakpoint("tablet") {

  }

  .section__txt {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    max-width: rem(660);
    line-height: rem(24);
    text-align: center;

    @include breakpoint("tablet") {
      align-items: flex-start;
      text-align: left;
    }
  }

  img {
    max-width: rem(300);

    @include breakpoint("tablet") {
      max-width: rem(400);
    }
  }
}

.body_star {
  position: relative;
  overflow: hidden;

  .star {
    position: absolute;
    background: white;
    // border-radius: 50px;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .type-1 {
    width: 1px;
    height: 1px;
  }
  .type-2 {
    width: 2px;
    height: 2px;
  }
  .type-3 {
    width: 3px;
    height: 3px;
  }
  @keyframes move {
    0% {
      transfrom: translate(0);
      // rotate: 360deg;
    }
    50% {
      transform: translateY(-500px);
      // rotate: 720deg;
    }
    100% {
      transform: translateX(-1000px);
      // rotate: 1080deg;
    }
  }
}
