@use '../global' as *;

.freelance{
    display: none;

    @include breakpoint('tablet'){
        display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: rem(8);

    &__state{
        width: rem(10);
        height: rem(10);
        border-radius: 50%;
    }

    &__state.green{
        background-color: rgb(15, 214, 15);
    }

    &__state.orange{
        background-color: rgb(255, 165, 0);
    }

    a{
        font-size: rem(14);
        font-weight: 400;
        max-width: rem(0);
        max-height: rem(18);
        inline-size: rem(0);
        overflow: hidden;
        transition: all .2s ease-in-out;
        line-height: rem(16);
        // color: color(btow, 100);
        &.green{
            color: rgb(15, 214, 15);
        }
        &.orange{
            color: rgb(255, 165, 0);
        }
    }

    &:hover{
        a{
            max-width: 100%;
            inline-size: rem(175);

        }
    }
}
    }
