@use "../global" as *;

.btn {
  display: inherit;
  border-radius: rem(8);
  padding: rem(12) rem(16);
  text-align: center;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    cursor: pointer;
    scale: 1.05;
  }

  &.primary {
    &.outlined {
      background-color: transparent;
      border: 2px solid color(primary, dark);
      color: color(primary, dark);
      position: relative;
      overflow: hidden;
      transition: all 0.25s ease-in-out;
      z-index: 3;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: color(primary, dark);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover,
      &:focus {
        color: color(btow, 100);
        border: 2px solid color(primary, extra-dark);
        &::before {
          width: 100%;
          background: color(primary, extra-dark);
        }
      }
    }
  }

  &.secondary {
    &.outlined {
      background-color: transparent;
      border: 2px solid color(secondary, dark);
      color: color(secondary, dark);
      position: relative;
      overflow: hidden;
      transition: all 0.25s ease-in-out;
      z-index: 3;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: color(secondary, dark);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover,
      &:focus {
        color: color(btow, 100);
        border: 2px solid color(secondary, extra-dark);
        &::before {
          width: 100%;
          background: color(secondary, extra-dark);
        }
      }
    }
  }

  &.accent {
    &.outlined {
      background-color: transparent;
      border: 2px solid color(accent, dark);
      color: color(accent, dark);
      position: relative;
      overflow: hidden;
      transition: all 0.25s ease-in-out;
      z-index: 3;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: color(accent, dark);
        transition: all 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover,
      &:focus {
        color: color(btow, 100);
        border: 2px solid color(accent, extra-dark);
        &::before {
          width: 100%;
          background: color(accent, extra-dark);
        }
      }
    }
  }

  &.project {
    padding: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    gap: rem(12);
    align-items: center;
    justify-content: space-between;
    // border: 2px solid color(primary, dark);
    color: color(btow, 100);
    position: relative;
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    &:first-of-type {
      border: 2px solid color(primary, dark);

      .bottom {
        background: color(primary, dark);
      }

      &::before {
        background: color(primary, dark);
      }

      &:hover,
      &:focus {
        border: 2px solid color(primary, extra-dark);
        &::before {
          background: color(primary, extra-dark);
        }
        .bottom {
          background: color(primary, extra-dark);
        }
      }
    }

    // pour le deuxieme projet
    &:nth-of-type(2) {
      border: 2px solid color(secondary, dark);

      .bottom {
        background: color(secondary, dark);
      }

      &::before {
        background: color(secondary, dark);
      }

      &:hover,
      &:focus {
        border: 2px solid color(secondary, extra-dark);
        &::before {
          background: color(secondary, extra-dark);
        }
        .bottom {
          background: color(secondary, extra-dark);
        }
      }
    }

    &:last-of-type {
      border: 2px solid color(accent, dark);

      .bottom {
        background: color(accent, dark);
      }

      &::before {
        background: color(accent, dark);
      }

      &:hover,
      &:focus {
        border: 2px solid color(accent, extra-dark);
        &::before {
          background: color(accent, extra-dark);
        }
        .bottom {
          background: color(accent, extra-dark);
        }
      }
    }

    .bottom {
      width: 100%;
      padding: rem(12) rem(16);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(8);
      border-radius: rem(6);
      transition: all 0.15s ease-in-out;
    }

    h3 {
      font-size: rem(24);
      font-weight: 700;
      margin: 0;
      padding: 0;
      margin-left: rem(16);
    }

    &-span {
      display: flex;
      align-items: center;
      gap: rem(4);
      position: relative;
      padding: 0;
      padding-right: rem(32);
      overflow: hidden;
      height: min-content;

      .material-icons-round {
        transition: color 0.02s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-size: rem(24);
        font-weight: 500;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;

        &::after {
          content: "north_east";
          font-weight: 600;
        }
      }
    }

    &-img {
      min-height: 17vh;
      max-height: 25vh;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      border-radius: rem(6);
    }

    &:hover,
    &:focus {
      color: color(btow, 100);
      &::before {
        height: 100%;
      }

      .project-span {
        .material-icons-round {
          top: rem(-24);
        }
      }
    }
  }
}
