@use '../global' as *;

.title{
    font-size: rem(32);
    font-weight: 700;
    line-height: 150%;
    text-align: center;

    @include breakpoint("tablet"){
        text-align: left;
    }

    &.primary{
        color: color(primary, dark);
    }

    &.secondary{
        color: color(secondary, dark);
    }

    &.accent{
        color: color(accent, dark);
    }
}