// ---------------------------------------------------------
// Main
// ---------------------------------------------------------

@use 'libs';
@use 'layouts';

@use 'global' as *;

html{
    scroll-behavior: smooth;

}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.material-icons-round{
    user-select: none;
}

section{
    max-width: rem(1200);
}
